@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.dark body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to black,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.shadow-purple-300 {
  box-shadow: 0 4px 25px rgba(61, 49, 143, 0.217);
}

.dark *::-webkit-scrollbar {
  width: 15px;
}

.dark *::-webkit-scrollbar-track {
  background: var(--primary);
}

.dark *::-webkit-scrollbar-thumb {
  background-color: rgb(9, 9, 9);
  border: 1px solid rgba(58, 41, 164, 0.859);
  border-radius: 10px;
}
